body {
  color: hsl(81, 14%, 25%);
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background: hsl(0, 0%, 100%);
}

/* Versatile Styling - apply as needed */

.style-type {
  list-style-type: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.body-margin {
  padding: 9rem 0 3em 0;
}

.text-decor {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

/* all_products.html */

.bulk-herbs {
  margin: 0 0 3em 27em;
  text-align: center;
  width: 40em;
}

.herb-card {
  width: 15em;
  height: 20em;
  padding: 0 1em 1.5em 1em;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 3px;
  margin: 0.3em 0.3em;
}

.image-div {
  margin-left: 1em;
}

.products-image {
  width: 13em;
  height: 10em;
  object-fit: cover;
}

.sku {
  font-style: italic;
  font-size: 0.9em;
}

.product-name {
  text-decoration: none;
  color: hsl(81, 14%, 25%);
}

.product-name:hover {
  color: hsl(87, 45%, 35%);
}

.price {
  background-color: hsl(0, 0%, 90%);
  border-radius: 3px;
  padding: 0.1em 0.5em;
}

.add-to-cart {
  text-align: center;
  text-transform: uppercase;
  background-color: hsl(87, 45%, 35%);
  border-radius: 3px;
  padding: 0.2em 0.5em;
}

.add-to-cart:hover {
  background-color: hsl(81, 14%, 25%);
}

.cart-btn {
  text-decoration: none;
  color: hsl(0, 0%, 94%);
}

/* base.html */

/* navbar */
.fixed {
  position: fixed;
}

.top-banner {
  width: 100vw;
  height: 5em;
  margin: -0.1em;
}

.sales-banner {
  text-align: center;
  padding: 0.1em 0;
  color: hsl(0, 0%, 94%);
  background-color: hsl(87, 45%, 35%);
}

.navbar {
  padding: 1.6em 1em;
  background-color: hsl(87, 45%, 25%);
}

.indv-a-link {
  text-align: center;
  text-decoration: none;
  color: hsl(0, 0%, 94%);
  font-size: 1.4em;
}

.herbs-link {
  padding: 0 32rem 0 2rem;
}

.home-link {
  padding: 0 28rem 0 0;
}

.sign-link {
  padding: 0 3.5rem 0 0;
}

/* footer */

.footer-block {
  background-color: hsl(87, 45%, 25%);
  color: hsl(0, 0%, 94%);
  padding: 1em 0;
}

.footer-card {
  width: 20em;
  margin: 0 2em 0 8em;
}

.links-card {
  text-align: center;
}

.social-link {
  margin: 0 0.4em;
}

.footer-title {
  text-transform: uppercase;
}

.contact-title {
  margin-top: 1em;
}

.contact-margin {
  margin: 0 0 0em;
}

.contact-space {
  margin-top: 0.2em;
}

.copy-block {
  margin: 0 48em 0 1em;
}

.pay-logo {
  width: 2.5em;
  margin: 0.8em 1em 0 0;
  border: 1px solid hsl(0, 0%, 85%);
  border-radius: 3px;
}

/* homepage.html */

.promo-logo {
  width: 9em;
}

/* individual_products.html */

.indv-product-image {
  width: 25em;
  height: 25rem;
  object-fit: cover;
  margin: 3em 5em 1em 4em;
  border: 1px solid hsl(0, 0%, 85%);
  border-radius: 5px;
  padding: 1.5em 2.5em 2em 3em;
}

.indv-product-card {
  width: 40em;
  margin-top: 3em;
}

.indv-tags {
  margin: 0.1em;
}

.indv-product-price {
  text-align: center;
  width: 10em;
  margin-top: 2em;
  background-color: hsl(0, 0%, 90%);
  border-radius: 3px;
  padding: 0.5em 0.5em;
}

.indv-add-to-cart {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  background-color: hsl(87, 45%, 35%);
  border-radius: 3px;
  padding: 0.5em 0.5em;
}

.indv-add-to-cart:hover {
  background-color: hsl(81, 14%, 25%);
}

.indv-cart-btn {
  text-decoration: none;
  color: hsl(0, 0%, 94%);
}

.review-block {
  margin: 2em 0 0 1.7em;
}

.review-card {
  padding: 1em;
  border-top: 1px solid hsl(0, 0%, 90%);
  border-radius: 3px;
  width: 74em;
}

.review-name {
  width: 10em;
  margin-bottom: 1em;
}

.review-date {
  margin-left: 58em;
}

.review-comment {
  margin-bottom: 1em;
}
