{% extends 'base.html' %} {% block title %}Bulk Organic Herbs{% endblock %} {%
block body %}
<div>
  <h1>Herbs - Bulk Organic</h1>
</div>
<div>
  <p>
    Sun Rise offers premium products that are carefully selected for wonderful
    character and high quality. With these fine herbs you can create your own
    herbal catalog to craft natural products or add to a recipe for a meal.
  </p>
</div>
<div>
  <ul class="flex-row">
    {% for product in products %}
    <li class="style-type">
      <div>
        <div class="flex-column">
          <a href="/products/{{ product.id }}">
            <img
              class="products-image"
              src="{{ product.image }}"
            />
          </a>
        </div>
        <p>SKU: {{ product.sku }}</p>
        <h4>
          {{ product.name }} {{ product.part }} {{ product.grade }}
        </h4>
        <p>{{ product.size }} {{ product.unit }}: ${{ product.price }}</p>
        <a href="{{ url_for('add_to_cart', product_id=product.id) }}"
          >Add to Cart</a
        >
      </div>
    </li loading="lazy">
    {% endfor %}
  </ul>
</div>
{% endblock %}
