{% extends 'base.html' %} {% block body %}

<div>
  <div>
    <div>
      <div>
        <form action="/users" method="POST">
          <input
            class="email"
            type="text"
            name="email"
            placeholder="Email address"
          />
          <input
            class="password"
            type="password"
            name="password"
            placeholder="Password"
          />
          <input type="submit" value="Register" />
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
