{% extends 'base.html' %} {% block body %}
<div>
  <div>
    <div>
      <img class="indv-product-image" src="{{ product.image }}" />
    </div>
    <div>
      <div>
        <h1>{{ product.name }} {{ product.part }} {{ product.grade }}</h1>
        <div>
          {%if avg >= 0%}
          <p>Rated a {{ "%0.1f" | format(avg) }}</p>
          {%else%}
          <p>No Ratings</p>
          {%endif%}
        </div>
        <p>{{ product.botanical_name}}</p>
        <p>{{ product.origin}}</p>
        <p>{{ product.sku}}</p>
        <p>{{ product.desc }}</p>
        <p>{{ product.size }} {{ product.unit }}: ${{ product.price }}</p>
        <a href="{{ url_for('add_to_cart', product_id=product.id) }}"
          >Add to Cart</a
        >
      </div>
      <div>
        <ul class="style-type" loading="lazy">
          {% for review in reviews %}
          <li>{{ review.user.first_name }}</li>
          <li>{{ review.date }}</li>
          <li>{{ review.title }}</li>
          <li>{{ review.comment }}</li>
          <li>{{ product.name }} {{ product.part }} {{ product.grade }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
