{% extends 'base.html' %}{% block title %}(Placeholder){% endblock %} {% block
body %}
<div>
  <div>
    <div>
      <h2>Register</h2>
      <form action="/register" method="POST">
        <input
          type="text"
          name="email"
          minlength="1"
          maxlength="255"
          placeholder="Email address"
        />
        <input
          type="password"
          name="password"
          minlength="1"
          maxlength="32"
          placeholder="Password"
        />
        <input type="submit" value="Register" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
