{% extends 'base.html' %} {% block body %}
<div>
  <div>
    <div class="register-block">
      <h2>Register</h2>
      <div>
        <form action="/register" method="POST">
          <div>
            <input
              class="fill-in"
              type="text"
              name="email"
              minlength="1"
              maxlength="255"
              placeholder="Email address"
            />
          </div>
          <div>
            <input
              class="fill-in"
              type="password"
              name="password"
              minlength="1"
              maxlength="32"
              placeholder="Password"
            />
          </div>
          <div>
            <input class="sign-in-btn" type="submit" value="Register" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
