{% extends 'base.html' %} {% block body %}
<div>
  <div class="fun-div">
    <div class="fun-text first-dog">
      <h1>Hey! Where the page or link go?</h1>
    </div>
  </div>
  <div class="fun-div">
    <div class="fun-text second-dog">
      <h1>Oh!</h1>
      <h1>Its under construction :D</h1>
    </div>
  </div>
  <img
    class="dog-image"
    src="https://images.unsplash.com/photo-1548199973-03cce0bbc87b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"
    alt=""
  />
</div>
{% endblock %}
