{% extends 'base.html' %} {% block title %}(Placeholder){% endblock %} {% block
body %}
<div>profile</div>
<div>
  <img src="{{ user_image }}" />
  <h1>{{ user_first_name }}</h1>
  <h1>{{ user_last_name }}</h1>
</div>
<div>
  <p>{{ address_street }}</p>
  <p>{{ address_city }}</p>
  <p>{{ address_state }}</p>
  <p>{{ address_postal_code }}</p>
  <p>{{ address_country }}</p>
  <p>{{ address_telephone }}</p>
</div>
<div>
  <ul>
    {% for rating in user_ratings %}
    <li>
      {{ rating_product_name }}:
      <span {{ rating.rating_id }}> {{ rating_score }} </span>
      {% if session["user.email"] == user.email %}
      <button class="edit-product-rating" id="{{ rating.rating_id }}">
        Edit rating
      </button>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  <script src="/static/js/updateRatings.js"></script>
</div>
<div>
  <ul>
    {% for review in user_reviews %}
    <li>
      {{ review.product.name }}:
      <span {{ review.review_id }}> {{ review.comment }} </span>
      {% if session["user.email"] == user.email %}
      <button class="edit-product-review" id="{{ review.review_id }}">
        Edit review
      </button>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  <script src="/static/js/updateReviews.js"></script>
</div>
{% endblock %}
